// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin blockcenter(){

  margin-left: auto;
  margin-right: auto;
}


@mixin basicformfields(){
  label {
	color: $blue;
	display: block;
	margin-bottom: 1%;
  }
  label, input, textarea {
	display: block;
  }
  input, textarea {
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	width: 100%;
	margin-bottom: 4%;
	font-family: $basicfont;
	font-size: 1.2rem;
	padding: 1% 2% 1% 2%;
  }

  input:focus, textarea:focus {
	border: 2px solid $blue;
	outline:none;
  }
  input {
	min-height: 30px;

  }
  #submitter{
	background-color: $blue;
	color: #FFFFFF;
	font-family: $basicfont;
	padding: 2%;
	font-size: 1.2rem;
	border: 1px solid $blue;
	border-radius: 3px;
  }
  button#submitter:focus {
	outline: none;
	background-color: #FFFFFF;
	color: blue;
  }
  textarea{
		padding: 2%;
  }
  select {
	width: 15%;
	min-height: 34px;
	padding: 1% 2% 1% 2%;
	margin-bottom: 4%;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1rem;
  }


}

@mixin styledimage(){
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 4px rgba(218,218,218,.8)
}